{% extends 'base.html' %}
{% block content %}
<h1>In simplest terms, it’s a page on your website that explains what your business does.
    That sounds straightforward enough, right?
    Sure, it does. But, because of this, they’re occasionally treated like nondescript pieces of content, 
    created to fulfill a requirement on a checklist.
    That’s selling those pages short, though. Get it right, and they go from a line item no one looks at, 
    to an essential element of telling your company’s story.</h1>
{% endblock content %}