{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %} 
    <h1>New post</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% comment %} {{ form.media}} {% endcomment %}
        {{ form.as_p}}
        <input type="submit" value="Post">
    </form>    
    {% comment %} <script>
    var name = "{{ user.username }}"
    decument.getElementByid("author")
        =name;
    </script> {% endcomment %}
{% else %}
    <p>This Page Is For Admin Only</p>
{% endif %}
{% endblock %}