{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %} 
    {% if user.id == post.author.id %}
        <h2>Delete post</h2>
        <form action="" method="post">
            {% csrf_token %}
            <p>Are You Sure You Want To Delete Post "{{ post.title}}"</p>
            <input type="submit" value="Confirm">
        </form> 
    {% else %}
        <p>You're not allowed here</p>
    {% endif %}   
{% else %}
 <p>You're not allowed to delete post</p>
 {% endif %}
{% endblock %}